<ion-header>

  <ion-navbar color="primary">
    <ion-title>Edit video Data</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="logout()">
       Logout
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content padding>

  
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
  
 
    <ion-list>
 
        <form>

        	<ion-item-divider color="light">Video title</ion-item-divider>
 
            <ion-item>
                <ion-label >Title</ion-label>
                <ion-input type="text" name="title" [(ngModel)]="title"></ion-input>
            </ion-item>
 
           
           

			<ion-item-divider color="light">Scenes</ion-item-divider>
             
              <ion-item>
                <ion-label>Scene Text</ion-label>
                <ion-input  type="text" #text></ion-input>
            </ion-item>

             <ion-item>
               <button ion-button color="primary" (click)="saveScene()">Add Scene</button>
            </ion-item>


            <ion-item-divider color="light">List of Scenes</ion-item-divider>
            
   
			<ion-item *ngFor="let scene of scenes;let i = index" >
				<ion-icon item-end><button ion-button small color="primary" item-end (click)="openModal(scene)">Add Slide</button></ion-icon>
				<ion-icon item-end><button ion-button small color="danger" item-end (click)="deleteSlide(i)">Delete Scene</ button></ion-icon>
        
        <ion-label>{{scene.text}} </ion-label>
				

			</ion-item>
 
           

           
 
           
        </form>
 
    </ion-list>


    <button ion-button full color="primary" (click)="save()">Save All</button>
 
 

</ion-content>
